/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --header-bg-color: #000028;
  --section-bg-color: #000028;
  --text-color: #ff0070;
  --tile-color: #db00ff;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --opacity-color: rgba(255, 0, 112, 0.4);
  --text-card-title: #f1b2ce;
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__rec {
  display: block;
}
