/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --header-bg-color: #353430;
  --tile-color: #ffc2e6;
  --section-bg-color: #fff1f7;
  --decor-color: #353430;
  --text-card-title: #353430;
  --opacity-color: rgba(53, 52, 48, 0.4);
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --header-bg-color: #353430;
    --tile-color: #ffc2e6;
    --section-bg-color: #fff1f7;
    --decor-color: #353430;
    --text-card-title: #353430;
    --opacity-color: rgba(53, 52, 48, 0.4);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}
