/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-self: end;
  align-self: center;
  position: relative;
  padding: 10px;
}

.header__rec {
  position: absolute;
  top: 11px;
  right: 38px;
  font-family: var(--font-family);
  font-weight: var(--fntwght-norm);
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-right: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  padding-block-start: 5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 61px;
}

.header__theme-menu-button {
  font-family: var(--font-family);
  font-weight: var(--fntwght-norm);
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  margin-block-end: 5px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-colorr);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-color);
  pointer-events: none;
}

.header__title {
  font-family: var(--font-family);
  font-weight: var(--fntwght-bold);
  font-size: var(--main-title-size);
  line-height: 83%;
  color: var(--tile-color);
  text-shadow: 4px 4px 0 var(--decor-color);
  justify-self: center;
}

.header__description {
  justify-self: end;
  align-self: center;
}

.title-decor {
  font-family: var(--font-family);
  font-weight: var(--fntwght-bold);
  font-size: 18px;
  line-height: 1.3;
  color: var(--header-bg-color);
  background: var(--decor-color);
}

.hightlight {
  display: block;
}
.main {
  display: grid;
  gap: 50px;
  padding-block: 40px;
  padding-inline: 10px;
}
.card__text-link {
  text-decoration: none;
  text-decoration-skip-ink: none;
  text-shadow: 2px 2px 0 var(--decor-color);
}

.card__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__text-link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.section-how__title-decor {
  font-weight: var(--fntwght-norm);
  color: var(--accent-color);
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-family: var(--font-family);
  font-weight: var(--fntwght-bold);
  font-size: 18px;
  line-height: 1.3;
  color: var(--header-bg-color);
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-family: var(--font-family);
  font-weight: var(--fntwght-bold);
  font-size: 18px;
  line-height: 1.3;
  color: var(--header-bg-color);
}

.card__text {
  font-family: var(--font-family);
  font-weight: var(--fntwght-norm);
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-card-title);
}

.gallery {
  display: grid;
  gap: 6px;
}

.gallery__title {
  font-family: var(--font-family);
  font-weight: var(--fntwght-bold);
  font-size: 18px;
  line-height: 1.3;
  color: var(--header-bg-color);
}

.gallery__content {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  min-height: 668px;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  padding: 10px;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: var(--fntwght-bold);
  font-size: var(--main-title-size);
  line-height: 83%;
  color: var(--tile-color);
  text-shadow: 2px 2px 0 var(--decor-color);
  justify-self: center;
}

@media (width >= 768px) {
  :root {
    --main-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    min-height: 1024px;
  }

  .footer {
    padding: 20px;
  }

  .header__rec {
    top: 20px;
    right: 50px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    margin-block-start: 0;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: start;
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .section:nth-of-type(2) .card {
    grid-column: 1 / 3;
  }

  .section:nth-of-type(1) .section__title {
    grid-row: 1 / span 2;
  }

  .section:nth-of-type(2) .section__title {
    grid-row: 1 / span 3;
  }

  .section:nth-of-type(3) .section__title {
    grid-row: 1 / span 6;
  }

  .section__subtitle {
    grid-column: 2 / 3;
    align-self: start;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .card,
  .section__subtitle {
    grid-column: 2 / 3;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: start;
  }

  .header,
  .footer {
    min-height: 768px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-button {
    margin-block-end: 0;
  }

  .section {
    grid-template-columns: 315px 1fr;
  }

  .section:nth-of-type(2) {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .section:nth-of-type(2) .section__title {
    grid-column: 1 / 4;
    max-width: 315px;
  }

  .section:nth-of-type(2) .card {
    grid-column: auto;
  }
}
